# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# VSCode / IDE
.vscode/
.idea/
*.swp
*.swo

# Environment files
.env
.env.*
*.sqlite3

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db


curriculum-mappin/v1/.cache/
curriculum-mappin/v1/output/
curriculum-mappin/v1/upload/

curriculum-mappin/v2/.cache/
curriculum-mappin/v2/output/
curriculum-mappin/v2/upload/

curriculum-mappin/v3/.cache/
curriculum-mappin/v3/output/
curriculum-mappin/v3/upload/